.elements__card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #FFF;
  width: 282px;
  height: 361px;
  max-width: 282px;
  max-height: 361px;
  overflow: hidden;
}
