.profile__img {
  margin: 0;
  padding: 0;
  background-image: url(../../../images/a7233788306cac3effd4b76fc303b493.jpeg);
  background-size: 168.75px 127.5px;
  background-position: 50%;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  min-height: 120px;
  min-width: 120px;
}
